.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.task-list{
    background-color: aqua;
    width: 100%;
    padding: .5rem;
}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
    width: 100%;
}