/* CSS code */
.dialog-modal {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    z-index: 20;
    /* Make sure the dialog is above other elements */
}

.dialog-h2 {
    margin-bottom: 10px;
}
.dialog-h3{
    margin:0px;
}

.dialog-label {
    display: flex;
    margin-bottom: 10px;
    margin-right: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dialog-select {
    text-align: center;
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    margin-left: 5px;
    box-sizing: border-box;
}

.dialog-text,
.dialog-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 5px;
    box-sizing: border-box;
}

.dialog-date {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 5px;
    box-sizing: border-box;
    text-align: center;
}

.dialog-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dialog-button:hover {
    background-color: #45a049;
}

.dialog-title-grp {
    display: flex;
    flex-direction: column;
}

.dialog-btn-grp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}