button {
    border: 2px solid #292a2a;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition:0.3s;
    width: 180px;
}

button:hover {
    scale: 1.1;
}