.task-button {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    width: 180px;
}

.task-button:hover {
    background-color: rgba(0,0,0, 0.9); /* Darker shade with alpha channel on hover */
    border: 2px solid #292a2a;
}


.task-button:active {
    transform: translateY(2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}